.viewpageBG{
	background-repeat: repeat-x !important;
	width: 100%;
	height: 336px;
	position: relative;
}
.wrap{
	position: relative;
	width: 982px;
	height: 336px;
	margin:0 auto;
}
.VPleft{
	z-index: 10;
	width: 982px;
	height: 336px;
	zoom:1;
}
.VPright{
	z-index: 20;
	position: absolute;
	top:0;
	right: -1px;
	width: 254px;
	height:335px;
	text-align: center;
	background:url('./../../resource/download.png');
}
.downloadtag{
	display: block;
	width: 215px;
	height: 56px;
	margin:212px 0 0 19px;
	background-position: 0 9999px;
	text-indent: -9999px;
}
.downloadtag~p{
	margin:10px auto;
	text-align: center;
	color: #8d8d8d;
}
.shadowl{
	display: block;
	position: absolute;
	top: 0;
	left: -20px;
	width: 20px;
	height: 336px;
	background: url('./../../resource/banner.png') no-repeat;
	background-position: -1px 0;
}
.shadowr{
	display: block;
	position: absolute;
	top: 0;
	left: auto;
	right: -20px;
	width: 20px;
	height: 336px;
	background: url('./../../resource/banner.png') no-repeat;
	background-position: -20px 0;
	
}
.viewPageL{
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -31px;
	width: 37px;
	height: 63px;
	text-indent: -9999px;
	left: -68px;
	background: url('./../../resource/banner.png') no-repeat;
	background-position: 0 -360px;
}
.viewPageL:hover {
	background-position: 0 -430px !important;
}
.viewPageR{
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -31px;
	width: 37px;
	height: 63px;
	right: -68px;
	text-indent: -9999px;
	background: url('./../../resource/banner.png') no-repeat;
	background-position: 0 -508px;
}
.viewPageR:hover {
	background-position: 0 -578px !important;
}

.viewpagePointlist{
	position: absolute;
	top: 310px;
	left: 0;
	width: 730px;
	height: 20px;
	text-align: center;
}
.viewpagePoint{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('./../../resource/banner.png') no-repeat;
	background-position:3px -343px;
}
.viewpagePoint:hover{
	background-position: -16px -343px !important;
}
.LConMain {
	margin-right: 251px;
}
.LConMain>div{
	padding: 20px 20px 40px;
}

.LConNavi{
	height: 33px;
	padding: 0 10px 0 34px;
	background: url('./../../resource/LContent.png') no-repeat;
	background-position: -225px -156px;
	border-bottom: 2px solid #c10d0c;
}
.LCNaviTitle{
	float: left;
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
	color: #000;
}
.LCNaviTab{
	float: left;
	margin:7px 0 0 20px;
}
.LCNavioption{
	color:#666;
}
.LCNavioption:hover{
	text-decoration: underline;
}
.line{
	margin:0 10px;
	color:#ccc;
}
.more{
	float: right;
	margin-top: 9px;
	
}
.moregt{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('./../../resource/LContent.png') no-repeat;
	background-position: 0px -240px;
}
.LCcontent{
	margin: 20px 0 0 -42px;
}