div>ul>li {
	float: left;
	padding: 0 20px;
	height: 70px;
	font-size: 14px;
	color:#242424;
}



li>span {
	color:white;

}

li>span>a {
	line-height: 75px;
}


.logo {
	color:white;
	float:left;
	background-color:#242424;
	width:176px;
	height:69px;
	background:url('./../../resource/topbar.png') no-repeat 0 9999px;
	background-position:0 0;
	text-indent:-9999px;
}
.logoAtag{
	text-decoration: none;
}

.navlist{
	float: left;

}