body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins, li {
    padding: 0;
    margin: 0;
}

body, textarea, select, input, button,a{
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

/*body{
    overflow: hidden;
}*/

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

ul,li{
list-style: none;
}

a{
	text-decoration: none;
}

a em{
	display: inline-block;
	height: 20px;
	padding: 0 13px;
	margin:7px 17px 0;
	border-radius: 20px;
	line-height: 21px;
}

a, a *, * a {
	cursor: pointer;
}

i, em {
	font-style: inherit;
	text-align: left;
	font-size: inherit;
}

div {
    display: block;
}

h1,h2,h3,h4{
	font-size: 100%;
}

body {
	font-size: 12px;
}

li{
    display: list-item;
}

nav>ul>li{
    margin:20px;
    width: 100px;
    height: 54px;
    display: inline-block;
}